{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% if request.user.is_authenticated %}
            <p>Hello {{request.user}}</p>
            {% endif %}
            <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>
            <div class="card">
                <div class="card-header">
                    Tags
                </div>
                <ul class="list-group flex-fill">
                    <li class="list-group-item col-12">
                        <a href="#">All</a>
                    </li>
                    {% for tag in tags %}
                    <li class=" list-group-item">
                        <a href="#">
                            {{ tag.name }}
                        </a>
                    </li>
                    {% endfor %}

                </ul>

            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                {% if photos %}
                {% for photo in photos %}
                <div class="col-sm-9 col-md-6 col-lg-4">
                    <div class="card card-container my-2">
                        <img class="image-preview" src="{{photo.image.url}}" alt="Card image cap">

                        <div class="card-body">
                            <small>{{ photo.caption }}</small>
                        </div>
                        <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                    </div>
                </div>

                {% endfor %}
                {% else %}
                <h3>No photos...</h3>
                {% endif %}
            </div>    
        </div>
    </div>
    <div class="row">
        {% if is_paginated %}
        <div aria-label="Page navigation" class="text-center">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark btn-sm my-2"> PREVIOUS</a>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-dark btn-sm my-2 active">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}" class="btn btn-dark btn-sm my-2">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark btn-sm my-2">NEXT</a>
            {% endif %}
        </div>
        {% endif %}
    </div>   
</div>
{% endblock %}