{% extends "base.html" %}


{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-3">
            {% if request.user.is_authenticated %}
            <p class="greeting">Hello {{request.user}}</p>
            {% endif %}
            <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>
            <div class="mt-2">
                <strong>Tags</strong>
                <a href="{% url 'welcome' %}" class="btn btn-dark btn-block btn-sm m-1 {% if not selected_tag %}active{% endif %}">All</a>
            </div>        
            {% for tag in tags %}
                    
                <a class='btn btn-dark btn-sm m-1 {% if selected_tag and tag.name == selected_tag.name %}active{% endif %}' href="{% url 'photos_by_tag' tag.name %}">
                    {{ tag.name }}
                </a>
                    
            {% endfor %}           
        </div>
        
        <div class="col-md-9 py-5">
            <div class="row">
                {% if photos %}
                {% for photo in photos %}
                <div class="col-6 col-sm-4 col-md-6 col-lg-4">
                    <div class="card card-container my-2">
                        <img class="image-preview" src="{{photo.image.url}}" alt="Card image cap">

                        <div class="card-body caption p-0">
                            <small>{{ photo.caption }}</small>
                        </div>
                        <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                    </div>
                </div>

                {% endfor %}
                {% else %}
                <h3>No photos...</h3>
                {% endif %}
            </div>    
        </div>
    </div>
    <div class="row pb-2">
        {% if is_paginated %}
        <div aria-label="Page navigation" class="text-center pb-3">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark btn-sm my-2"> PREVIOUS</a>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-dark btn-sm my-2 active">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}" class="btn btn-dark btn-sm my-2">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-dark btn-sm my-2">NEXT</a>
            {% endif %}
        </div>
        {% endif %}
    </div>   
</div>
{% endblock %}